<!DOCTYPE HTML>
<html>
	<head>
		<title>Midterms</title>
	</head>

	<body>
		<form method="POST" action="/save">
			<label for="item">Input Item:</label>
			<input type="text" name="item" />
			<br />
			<label for="amount">Input Amount:</label>
			<input type="text" name="amount" />
			<br />
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>
